# TABLE

In [11]:
a = int(input("Table No :"))
b = int(input("Range No :"))
print('\tTABLE NO :')
for b in range (b):
    print(a , 'x' , b , '=' , a*b)

Table No :4
Range No :4
	TABLE NO :
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12