In [2]:
import numpy as np

In [4]:
Ex=np.arange(20).reshape(5,4)
Ex

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [6]:
Ex2=np.zeros_like(Ex)#its copy shape and type automaticly  same working in as ones_like
Ex2

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [1]:
import pandas as pd

In [2]:
from pandas import DataFrame,Series
s=Series([1, 2, 3, 4])
s   #By defualt interger indexing

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
a=Series(s.values,index=['a','b','c','d'])
a# we use indexing as string

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
dates=pd.date_range('2019-07-01','2019-07-31',freq='W')#freq if M means Month W means Week D Day deped on daa given 
dates

DatetimeIndex(['2019-07-07', '2019-07-14', '2019-07-21', '2019-07-28'], dtype='datetime64[ns]', freq='W-SUN')

In [5]:
dates2=pd.date_range('2019-01-01','2019-12-31',freq='M')#freq if M means Month W means Week D Day deped on daa given 
dates2

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [6]:
b=Series([80,82,85,90],index = dates)
b

2019-07-07    80
2019-07-14    82
2019-07-21    85
2019-07-28    90
Freq: W-SUN, dtype: int64

In [7]:
b.mean()

84.25

In [8]:
b2 = Series([30,21,12,55],index = dates)
b2

2019-07-07    30
2019-07-14    21
2019-07-21    12
2019-07-28    55
Freq: W-SUN, dtype: int64

In [9]:
b2['2019-07-14']

21

In [10]:
Result = DataFrame({'Midterm':b,'Finals':b2})
Result

            Midterm  Finals
2019-07-07       80      30
2019-07-14       82      21
2019-07-21       85      12
2019-07-28       90      55

In [11]:
Result ['Midterm']

2019-07-07    80
2019-07-14    82
2019-07-21    85
2019-07-28    90
Freq: W-SUN, Name: Midterm, dtype: int64

In [12]:
Subtraction = Result.Midterm - Result.Finals
Subtraction

2019-07-07    50
2019-07-14    61
2019-07-21    73
2019-07-28    35
Freq: W-SUN, dtype: int64

In [13]:
Addition = Result.Midterm + Result.Finals#Same in Division and MultiplicTION
Addition

2019-07-07    110
2019-07-14    103
2019-07-21     97
2019-07-28    145
Freq: W-SUN, dtype: int64

In [14]:
new =DataFrame({'Midterm':b,'finals':b2,'Sub':Subtraction,'Add':Addition})
new

            Midterm  finals  Sub  Add
2019-07-07       80      30   50  110
2019-07-14       82      21   61  103
2019-07-21       85      12   73   97
2019-07-28       90      55   35  145

In [15]:
new.columns

Index(['Midterm', 'finals', 'Sub', 'Add'], dtype='object')

In [16]:
new.finals[1:4]

2019-07-14    21
2019-07-21    12
2019-07-28    55
Freq: W-SUN, Name: finals, dtype: int64

In [17]:
new.finals['2019-07-07':'2019-07-21']

2019-07-07    30
2019-07-14    21
2019-07-21    12
Freq: W-SUN, Name: finals, dtype: int64

In [18]:
new.iloc[3]

Midterm     90
finals      55
Sub         35
Add        145
Name: 2019-07-28 00:00:00, dtype: int64

In [19]:
new.loc['2019-07-21']

Midterm    85
finals     12
Sub        73
Add        97
Name: 2019-07-21 00:00:00, dtype: int64

new.iloc[[1,0,3]].finals#change variables as per needed

In [21]:
dates2=pd.date_range('2019-01-01','2019-01-06',freq='D')
dates2

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
Data = Series(["Project","DataGethering","Processing","Problem Resolving" ,"Preperation","Result"],index =dates2)
Data

2019-01-01              Project
2019-01-02        DataGethering
2019-01-03           Processing
2019-01-04    Problem Resolving
2019-01-05          Preperation
2019-01-06               Result
Freq: D, dtype: object

In [38]:
import numpy as np
np.random.seed(2231)#this number means to just start         #We use seed then vlaues naver changes
pd.Series(np.random.randn(5))

0   -1.978294
1    0.995977
2   -0.802019
3   -0.190542
4    0.584391
dtype: float64

In [40]:
pd.Series(np.linspace(10,100, 10))# this comand gives us equal space between range numbers #Starting 2 number are range and last interger was differece between

0     10.0
1     20.0
2     30.0
3     40.0
4     50.0
5     60.0
6     70.0
7     80.0
8     90.0
9    100.0
dtype: float64

In [45]:
dict1={'a':1,'b':2,'c':3}
dict1[4]:'d'
dict1

{'a': 1, 'b': 2, 'c': 3}